@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

body {
  width: 100%;
  font-family: "Salsa", cursive;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Salsa", cursive;
}

.boxChat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25em;
  position: fixed;
  right: 3.3em;
  bottom: 3.3em;
  width: 20em;
  z-index: 2000;
}

.hide {
  display: none;
}

.buttonChat img {
  background-color: aquamarine;
  position: fixed;
  right: 2em;
  bottom: 2em;
  width: 3em;
  height: 3em;
}
