.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65em;
}

.header .welcome {
  margin: 0;
  font-size: 5.5rem;
  letter-spacing: 0.3em;
  font-family: "Salsa", cursive;
  color: black;
}

.header .welcome span {
  position: relative;
  display: inline-block;
  animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.header .welcome span:nth-last-child(1n) {
  animation-delay: -0.1666666667s;
}
.header .welcome span:nth-last-child(2n) {
  animation-delay: -0.3333333333s;
}
.header .welcome span:nth-last-child(3n) {
  animation-delay: -0.5s;
}
@keyframes ani {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 orange;
    color: green;
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 orange;
    color: green;
  }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em orange;
    color: green;
  }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em orange;
    color: green;
  }
}

/* .header .squareOne {
    width: 16%;
    height: 18em;
    position: absolute;
    z-index: -1;
    left: 31em;
    top: 36em;
    border: 2px solid#397e19;
    border-radius: 24px;
  }
  
  .header .squareTwo {
    width: 16%;
    height: 18em;
    position: absolute;
    z-index: -1;
    left: 66em;
    top: 6em;
    background-color: orange;
    border-radius: 24px;
  } */

.header img {
  width: 51%;
  height: 8em;
  object-fit: contain;
  background-color: white;
}

.header .info-site {
  font-size: 2.3rem;
  /* position: absolute; */
  /* left: 23em; */
  /* top: 20em; */
  font-family: "Salsa", cursive;
}

@media screen and (max-width: 380px) {
  .header {
    height: 55em;
  }
  .header .welcome {
    left: 0;
    justify-content: center;
    display: flex;
    width: 100%;
    top: 2em;
    font-size: 2.5rem;
  }
  .header .squareOne {
    left: 2em;
    top: 28em;
    width: 30%;
    height: 8em;
  }
  .header .squareTwo {
    left: 15em;
    top: 18em;
    width: 30%;
    height: 8em;
  }
  .header img {
    width: 70%;
    height: 10em;
  }
  .header .info-site {
    top: 33em;
    left: 0;
    text-align: center;
    font-size: 1.2rem;
    padding: 1em;
  }
}

@media screen and (min-width: 380px) and (max-width: 1100px) {
  .header {
    height: 66em;
  }
  .header .welcome {
    left: 0;
    justify-content: center;
    display: flex;
    width: 100%;
    top: 1em;
    font-size: 3.5rem;
  }
  .header .squareOne {
    left: 4em;
    top: 33em;
    width: 30%;
    height: 16em;
  }
  .header .squareTwo {
    left: 29em;
    top: 15em;
    width: 30%;
    height: 16em;
  }
  .header img {
    width: 48%;
    height: 18em;
  }
  .header .info-site {
    top: 25em;
    left: 0;
    text-align: center;
    font-size: 2rem;
    padding: 1em;
  }
}
